.container-fluid
  .row
    .col-xs-2
      h3 Current resources:
      table.table-condensed
        tr(ng-repeat='resource in resources')
          td {{resource.name}}
          td {{resource.current}}/{{getMaxStorage(resource.name)}}
        
      h3 Generators
      .btn-group(ng-repeat='resource in resources')
        button.btn.btn-default(ng-click='generateResource(resource.name)' ng-disabled='resource.current >= getMaxStorage(resource.name)') Generate {{resource.name}}
        button.btn.btn-default(ng-click='assignHumanWork(resource.name)' ng-class="{ 'active': isHumanWorkingAt(resource.name) }") Work

      h3 World

      h3 Globals
      div(ng-repeat='global in globals')
        h5 {{global.name}}
        span {{global.value}}

    .col-xs-10
      h3 Store
      table.table-condensed
        tr
          th Name
          th Cost (unit)
        tr(ng-repeat='item in items')
          td {{item.name}}
          td {{item.cost.value}} {{item.cost.resource}}
          td
            button.btn.btn-default(ng-click='buyItem(item)' ng-disabled='!canBuy(item)') Buy

      h3 Inventory

footer
